
header{
    font-size:35px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.logo{
    height: 85px;
    width: 120px;
    border-radius: 50%;   
}
nav ul {
    text-align: center;
    display: flex;
    justify-content: space-between;
}
nav ul li{
    font-size: large;
    width: 25%;
    margin-right: 20px;
    font-size: 25px;
}
nav{
    background-color: #1b263b;
    color: white;
} 
nav li:hover {
    background-color: #415a77;
}
  

nav li.active {
    background-color: #04AA6D;
}   
main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

footer{
    
    padding: 10px;
    height: 6vh;
    background-color:#000814;
    color:white;
    text-align: center;
    justify-content: center;
}